<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">One Page Checkout Effetto</label>
    <label lang="en">One Page Checkout Effetto</label>
    <version>1.0.0</version>
    <copyright></copyright>
    <author></author>
    <link></link>
    <compatibility minVersion="5.2.0" />
</plugin>